.contact {
  height: 100%;
  display: flex;
  gap: 100px;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cSection:last-child {
  background-color: rgba(2, 2, 45, 0.187);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 50% 0px;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(2, 2, 45, 0.066);
  padding: 20px;
  border-radius: 50px;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
}

.formButton {
  background-color: white;
  box-shadow: 0px 0px 10px 0px #dd4c62;
  background-image: url("/public/weedBGR.png");
  background-position: center ;
  background-size: cover;
  color: black;
  font-size: 1.6em;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.cSection:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dividerWrapper{
  display: inline-flex;
  width: 80%;
  margin: auto;
}
.dividerWrapper span{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: 100;
}
.divider {
  width: 100%;
  margin: auto;
  border:1px solid;
}
.vipContact{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.vipContactItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.vipContact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


@media (max-width: 1280px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }
  .form {
    width: 100%;
    padding: 0px;
  }
  .cSection:first-child {
    height: 90%;
  }
  .cSection:last-child {
    display: none;
  }
}
